@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital@1&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {

    width: 100%;
    height: 14vh;
    background-color: #252525;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

    /* Logo Marca */

figcaption {
    display: none;
}

.logomarca {
    display: flex;
    align-items: center;
    margin-left: 5vw;
}

.small_img {
    width: 3vw;
}

.small_title {
    color: #FFFFFF;
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    margin-left: 10px;
}

    /* Navegação - Midias Sociais */

.nav_socialMidias {
    height: 6vh;
    width: 130px;
    margin-right: 10vw;
    padding: 2px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


/* MAIN */

    main section {
        width: 100%;
        height: 130vh;

        background-repeat: no-repeat;
        background-color: #252525;
        background-size: contain ;

        display: flex;
        align-items: center;
        white-space: pre-line;
    }


    /* Primeira Página */

.page1_title {
    font-family: 'Roboto Serif', serif ;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
}

.firstSection_page1 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-image:  url("img/firstPage.png"),  url("img/firstPage_2x.png"); 
    background-size: contain, cover; 
    background-position: center;

}

.medium_img {
    height: 19vh;
    margin-top: 35px;
    margin-right: 70px;
}


    /* Texto e Titulo - Paginas 2 e 3*/

main section h3 {
    font-family: 'Roboto Serif', serif ;
    font-size: 40px;
}

main section  p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 1.5;
}

button{
    width: 245px;
    height: 81px;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 700;
    border: none;
    border-radius: 44px;
    margin-top: 35px;
}

 /* Página 2 */

.page2_title{
    color: #3A342F;
}

.secondSection_page2 {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    
    background-color:#F4F2F3;
    background-image: url("img/secondPage.png");   
    background-position: right; 
    padding-left: 100px;

}

.secondSection_page2 button{
    color: #FFFFFF;
    background-color: #3A342F;
}

.page2_text{
    margin-bottom: 20px;
    color: #3A342F;
    
}


/* Página 3 */

.page3_title{
    color: #FFFFFF;
}

.thirdSection_page3 {
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    
    background-image: url("img/thirdPage.png"), url("img/thirdPage_2x.png");  
    background-size: contain, cover;
    background-position: left; 
    padding-right: 150px;

}

.thirdSection_page3 div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.page3_text {
    color: #FFFFFF;
}

/* FOOTER */

.footerMobile_extraNav {
    display: none;
}

.footer_supportLogoMarca {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_apoio {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-left: 150px;
}

.footer_supportLogoMarca h4 {
    color: #FD6A9A;
    font-family: 'Roboto Serif', serif ;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
}

/* Footer - Listas de Navegação  */

.section_footerNav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 100px;

    height: 55vh;
    background-color: #EB4A7B;
    padding-bottom: 70px;

}

.footerNav {
    height: 200px;
    width: 250px;

}

.footerNav_title{
    font-size: 24px;
    font-family: 'Roboto Serif', serif;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px;
}

.footerNav ul {
    list-style: none;
    margin-top: 40px;
}

.footerNav li {
    margin: 10px;
    text-align: left;

}

.footerNav a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* RESPONSIVIDADE */

/* Tablets */
@media (min-width: 450px) and (max-width: 1150px) {

    /* Geral */

    main section h3 {
        font-family: 'Roboto Serif', serif ;
        font-size: 30px;
    }
    
    main section  p {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        line-height: 1.5;
    }

    .secondSection_page2, .thirdSection_page3 {
        padding-top: 80px;
        padding-left: 40px;
        justify-content: flex-start;
    }

    .small_img {
        width: 15vw;
    }

    /* Header */

    header {
        height: 25vh;
        padding: 10px;
    }

    header .small_title {
        font-size: 30px;
    }

    header .instagram, header .youtube {
        display: none;    
    }

    header .nav_socialMidias {
        margin-right: 5vw;
        justify-content: flex-end;   
    }

    header .icon_socialMedia {
        height: 8vh;
    }


    /* Pages */

    .firstSection_page1{
        background-image: url("img/mobile/firstPage_mobile2x.png");
        background-size: cover;

        height: 200vh;
    }

    .firstSection_page1 .medium_img {
        margin-right: 5px;
    }

    .secondSection_page2{
        background-image: url("img/mobile/secondPage_mobile.png");
        background-position: right bottom;

        height: 180vh;
    }


    .thirdSection_page3 {

        /* background-color: linear-gradient(300deg, #EB4A7B 0%, #FD6A9A 100%);
        background-size: 100%; */

        background-image: url("img/mobile/thirdPage_mobile.png");
        background-size: cover;

        height: 240vh;
        align-items: flex-start;

    }

    /* Footer - Area Support (apoio) - Anuncios */

    .footer_supportLogoMarca {
        flex-direction: column;
        height: 40vh;
    }

    .container_apoio {
        width: 100vw;
        margin:0;

        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer_supportLogoMarca h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    /* Footer - Navegação de Social Medias */
    .footerMobile_extraNav{
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #EB4A7B;

    }

    .footerMobile_extraNav .logomarca {
        margin: 0;
        width: 60vw;
        height: 20vh;
    }

    .footerMobile_extraNav .logomarca .small_title {
        font-size: 40px;
    }

    .footerMobile_extraNav .nav_socialMidias{
        margin-left: 17vw;

        width: 50vw;
        height: 20vh;
        justify-content: space-evenly;
    }

    .footerMobile_extraNav .nav_socialMidias .icon_socialMedia {
        height: 40px;
        
    }

    /* Footer - Navegação Informações Principais */
    .section_footerNav {
        height: 150vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .footerNav {
        height: 40vh;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 17vw;

    }

    .footerNav ul {
        margin-top: 0;
    }

    .footerNav li {
        text-align: center;
    }

    .footerNav a {
        font-size: 22px;
    }
  
}

